# NOTE: this buildout is a placeholder. You shouldn't run this.
# Instead, you should run with:
#     ./bin/buildout -c production.cfg
# or
#     ./bin/buildout -c staging.cfg
# or
#     ./bin/buildout -c devel.cfg

[buildout]
parts =
